
body {
  background-color: #f2f2f2;
	margin: 5%;
}

h1, h2, h3, h4, h5 {
	font-family: "Open Sans";
	font-weight: bold;
	letter-spacing: 2.1px;
	font-size: 21px;
	padding-left: 12px;
}

.logo {
	height: 35px;
	padding-bottom: 12px;
	margin-left: 8px;
}

#title {
	text-align: center;
	font-weight: bold;
	font-size: 50px
}
	
.container-display {
	display: flex;
	flex-direction: column;

	.container-one {
		border-radius:5px;
		background-color: #f9f9f9;
		margin: 1vh auto;
		padding: 5px;
		position: relative;
		box-shadow: 3px 3px 3px lightgrey;
		width: 50%;
	}
}




@media screen and (min-width: 768px) {
		.logo {
			height: 66px;
		}

		.container-display {
			
			#tabs-example {
				flex-direction: row;
			}

			.jsx-4017309047.tab-content {

				display: flex;
				flex-direction: column;
				width: 60%;
				margin: 0 auto; 
			}

			#button {
				display: block;
				margin: 1vh auto;
				width: 30%;
			}

			#svi_div {
				display: flex;
				flex-direction: row;
				justify-content: center;
			}

			#svi_div > div {
				min-width: 30%;
			}
		}
	}


@media screen and (min-width: 992px) {

  .tab-container.jsx-4017309047 {
    width: 60%;
    margin: 0 auto;
  }

  .jsx-4017309047.tab-content {

    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }


}

@media screen and (min-width: 1200px) {
 
  .one.container_one.content {
    margin: 1vh auto;
    width: 50%;
  }

  .dash-table-container {
    display: flex;
    flex-direction: column;
  }

  .dash-table-container {
		.previous-next-container {
			margin: 1vh auto;
			width: 25%;
		}
	}
}

@media screen and (min-width: 1546px) {
.container-display {
    display: grid;
    grid-template-columns: repeat(20,5%);
    grid-gap: 12px;
    grid-template-rows: repeat(20,5%);
  }
}